* {
  margin: 0px;
  padding: 0pxp;
}

.calc-heading {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2c3e50;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#Calculator {
  border: 1px solid rgba(191, 183, 183, 0.515);
  border-radius: 5px;
  width: 700px;
  padding: 10px;
  margin: 5% 20%;
}
#Display {
  margin: 5px 0px 5px 10px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: Google Sans, Arial, sans-serif;
}
#button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Button {
  width: 110px;
  height: 31px;
  /* padding:10px; */
  margin: 3px;

  background-color: #6f7385;
  color: #e0e2f1;
  font-family: Google Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 100px;
  transition: transform 0.3s ease;
}

.Button:active {
  transform: scale(1.05);
}
